*~
*.o
*.Td
*.csv
*.vtk
**/biomeproperties.json
web_stuff/dist/web_stuff.*.js.map
web_stuff/dist/web_stuff.*.js
web_stuff/dist/web_stuff.*.css
web_stuff/dist/web_stuff.*.css.map
web_stuff/dist/index.js
web_stuff/dist/index.js.map
web_stuff/dist/index.html
web_stuff/node_modules
web_stuff/.cache
**/villages.json
**/world.js
**/entities.json
**/elevations.json
**/biomes.json
base_tiles
basic.log
**/block_entities.json
**/world.json
basic_test
type_mst
write_top